<h1>Listing cleanings</h1>

<table>
  <tr>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cleanings.each do |cleaning| %>
  <tr>
    <td><%= cleaning.user_id %></td>
    <td><%= link_to 'Show', cleaning %></td>
    <td><%= link_to 'Edit', edit_cleaning_path(cleaning) %></td>
    <td><%= link_to 'Destroy', cleaning, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @cleanings %>

<%= link_to 'New Cleaning', new_cleaning_path %>
